html { 
	overflow-x: hidden; 
}

body {
	font-size: 16px;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1 / 13;
}

a {
	color: inherit;
	text-decoration: none;
}

menu {
	text-decoration: none;
	list-style: none;
}