footer {
	width: 100vw;
	padding: 2rem;
	display: grid;
	grid-column: 1 / 13;
	grid-row: 13 / 13;
	background-color: var(--header-color);
	color: black;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}
