.header {
	grid-column: 1 / 13;
	justify-content: center;
	background-color: var(--primary-color);
	color: var(--main-logo-color);
	width: 100vw;
	padding: var(--padding-header);
	
	font-family: 'Jacques Francois Shadow', 'cursive';
	font-size: 3rem;
	text-align: center;
}

/*.header__navigation {
}

.header__navigation--visible {
}