.header {
	grid-column: 1 / 13;
	justify-content: center;
	background-color: var(--primary-color);
	color: var(--main-logo-color);
	width: 100vw;
	padding: var(--padding-header);
	
	font-family: 'Jacques Francois Shadow', 'cursive';
	font-size: 3rem;
	text-align: center;
}

.header__page {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	letter-spacing: 0.3rem;
	padding-top: var(--padding-header);
	font-size: var(--secondary--title-fontsize);
}

.header__page a:hover {
	text-decoration: underline;
}

.header__page a:visited {
	color: inherit;
	text-decoration: underline;
}

/*.header__navigation {
}

.header__navigation--visible {
}